 * {
    text-align: center;
    list-style-type: none;
 }
nav {
    background-color:rgb(77, 75, 75);
    position:sticky;
    color:white;
    text-align: center;
    margin:0;
    
}
nav li {
    list-style: none;
    display:inline;
    justify-content: space-between;
    padding:1em;
}
h1 {
    text-align: center;
    font-size: medium;
}
img {
    display: block;
}
.far-out {
    background-color: black;
    color:white;
    text-align: center;
   padding-top: 400px;
   padding-bottom:100px;
}
.far-out h2 {
    font-size: 3.5em;
    margin-bottom: 5px;
}
.far-out h3 {
    margin-top:2px;
    font-size: 2em;
}
.iPhone-13 {
    color:black;
    text-align: center;
    padding: 50px 0 400px 0 ;
}
.iPhone-13 h2 {
    font-size: 3.5em;
    margin-bottom: 5px;
}
.iPhone-13 h3 {
    margin-top:2px;
    font-size: 2em;
}
.pink {
    color: hotpink;
}
.college-promo{
    padding: 50px 0 400px 0;
}
.college-promo h2 {
    font-size:3.5em;
    font-style: italic;
    margin-bottom: 5px;
}
.college-promo h3 {
    font-size:2em
}
.iphone12-pro {
    display: inline-block;
    padding: 50px 0 400px 0;
    margin: 0 200px 0 200px;
}
.iphone12-pro h2{
    font-size: 2.5em;
}
.iphone12-pro h3{
    font-size: 1.5em;
}
.watch-series7 {
    display: inline-block;
    padding: 50px 0 400px 0;
    margin: 0 200px 0 200px;
}
.watch-series7 h2{
    font-size: 2.5em;
}
.watch-series7 h3{
    font-size: 1.5em;
}
.iPad-air {
    display: inline-block;
    padding: 50px 300px 400px 300px;
    margin: 0 20px 0 0;
    background-color: rgb(56, 56, 56);
    color:white;
}
.iPad-air h2{
    font-size: 2.5em;
}
.iPad-air h3{
    font-size: 1.5em;
}
.Macbook-air {
    display: inline-block;
    padding: 50px 200px 400px 200px;
    margin: 0 0 0 20px;
}
.Macbook-air h2{
    font-size: 2.5em;
}
.Macbook-air h3{
    font-size: 1.5em;
}
.Macbook-pro13 {
    display: inline-block;
    padding: 50px 300px 400px 300px;
    margin: 0 20px 0 0;
    background-color: rgb(56, 56, 56);
    color:white;
}
.Macbook-pro13 h2{
    font-size: 2.5em;
}
.Macbook-pro13 h3{
    font-size: 1.5em;
}
.card {
    display: inline-block;
    padding: 50px 200px 400px 200px;
}
.card h2{
    font-size: 2.5em;
}
.card h3{
    font-size: 1.5em;
}
footer {
    background-color: rgba(250, 235, 215, 0.445);
}
p {
    text-align: left;
}
.Shop-and-Learn {
    display:inline-block;
    width:13%;
}
.Services {
    display:inline-block;
    width:13%;
}
.Apple-Store {
    display:inline-block;
    width:13%;
}
.For-Business {
    display:inline-block;
    width:13%;
}
.Apple-Values {
    display:inline-block;
    width:13%;
}